@layer reset, base, tokens, recipes, utilities;
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montaga&display=swap");
:root {
  font-family: "Commissioner", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures content takes up full height */
}